/* Map container styling */
.map-container {
    flex: 1;
    height: 100%;
    z-index: 1;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content h3 {
    margin-bottom: 8px;
    color: var(--primary-color);
}

.leaflet-popup-content p {
    margin-bottom: 5px;
}